<index:>

  <form role="form" on-submit="submit()">

    <div class="form-group">
      <input as="emailInput" type='text' class="form-control" placeholder="{{emailText || 'Email'}}" value="{{email}}" autofocus=true />
      <p class="help-block"></p>
    </div>

    <div class="form-group">
      <input as="passwordInput" type='password' class="form-control" placeholder="{{passwordText || 'Password'}}" value="{{password}}" />
      <p class="help-block"></p>
    </div>

    <p class="text-danger">{{error}}</p>

    <input type="submit" class="btn btn-primary btn-block btn-lg" value="{{text || 'Login'}}" disabled="{{error || sending}}" />

  </form>
