<index:>

  <form id="auth-login" role="form" on-submit="submit()">

    <div class="form-group {{if errors.email}}has-error{{/if}}">
      <input type='text' class="form-control" placeholder="Email" value="{{email}}" autofocus=true />
      <p class="help-block">{{errors.email}}</p>
    </div>

    <div class="form-group {{if errors.password}}has-error{{/if}}">
      <input type='password' class="form-control" placeholder="Password" value="{{password}}" />
      <p class="help-block">{{errors.password}}</p>
    </div>

    <p class="text-danger">{{errors.error}}</p>

    <input type="submit" class="btn btn-primary" value="Login" disabled="{{disabled}}" />

  </form>