<index:>

  <form id="auth-changepassword" role="form" on-submit="submit()">

    <div class="form-group {{if errors.oldpassword}}has-error{{/if}}">
      <input type='password' class="form-control" placeholder="Old Password" value="{{oldpassword}}" on-blur="blur('oldpassword')" />
      <p class="help-block">{{errors.oldpassword}}</p>
    </div>

    <div class="form-group {{if errors.password}}has-error{{/if}}">
      <input type='password' class="form-control" placeholder="Password" value="{{password}}" on-blur="blur('password')" />
      <p class="help-block">{{errors.password}}</p>
    </div>

    <div class="form-group {{if errors.confirm}}has-error{{/if}}">
      <input type='password' class="form-control" placeholder="Confirm Password" value="{{confirm}}" on-blur="blur('confirm')" />
      <p class="help-block">{{errors.confirm}}</p>
    </div>

    <p class="text-danger">{{errors.error}}</p>

    <input type="submit" class="btn btn-primary" value="Change" disabled="{{disabled}}" />

  </form>